In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

train_data = pd.read_csv('data/train_data.csv')
test_data = pd.read_csv('data/test_data.csv')

#去空值
train_data = train_data.iloc[:-3]

train_data

The history saving thread hit an unexpected error (DatabaseError('database disk image is malformed')).History will not be written to the database.

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1.0,2011/1/1,1.0,0.0,1.0,0.0,0.0,6.0,0.0,1.0,0.24,0.2879,0.81,0.0000,3.0,13.0,16.0
1,2.0,2011/1/1,1.0,0.0,1.0,1.0,0.0,6.0,0.0,1.0,0.22,0.2727,0.80,0.0000,8.0,32.0,40.0
2,3.0,2011/1/1,1.0,0.0,1.0,2.0,0.0,6.0,0.0,1.0,0.22,0.2727,0.80,0.0000,5.0,27.0,32.0
3,4.0,2011/1/1,1.0,0.0,1.0,3.0,0.0,6.0,0.0,1.0,0.24,0.2879,0.75,0.0000,3.0,10.0,13.0
4,5.0,2011/1/1,1.0,0.0,1.0,4.0,0.0,6.0,0.0,1.0,0.24,0.2879,0.75,0.0000,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15211,15212.0,2012/10/1,4.0,1.0,10.0,0.0,0.0,1.0,1.0,1.0,0.46,0.4545,0.72,0.1045,6.0,39.0,45.0
15212,15213.0,2012/10/1,4.0,1.0,10.0,1.0,0.0,1.0,1.0,1.0,0.44,0.4394,0.77,0.0896,5.0,13.0,18.0
15213,15214.0,2012/10/1,4.0,1.0,10.0,2.0,0.0,1.0,1.0,1.0,0.46,0.4545,0.72,0.0000,6.0,6.0,12.0
15214,15215.0,2012/10/1,4.0,1.0,10.0,3.0,0.0,1.0,1.0,1.0,0.44,0.4394,0.77,0.0000,1.0,6.0,7.0
15215,15216.0,2012/10/1,4.0,1.0,10.0,4.0,0.0,1.0,1.0,1.0,0.42,0.4242,0.82,0.1045,0.0,10.0,10.0

In [2]:
test_data

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2012/10/1,4,1,10,8,0,1,1,2,0.46,0.4545,0.77,0.1045,40,744,784
1,2,2012/10/1,4,1,10,9,0,1,1,2,0.52,0.5000,0.63,0.0000,26,314,340
2,3,2012/10/1,4,1,10,10,0,1,1,1,0.54,0.5152,0.56,0.0000,44,135,179
3,4,2012/10/1,4,1,10,11,0,1,1,1,0.58,0.5455,0.46,0.0000,76,196,272
4,5,2012/10/1,4,1,10,12,0,1,1,2,0.60,0.6212,0.43,0.1642,61,262,323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2155,2156,2012/12/31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
2156,2157,2012/12/31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
2157,2158,2012/12/31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
2158,2159,2012/12/31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
2159,2160,2012/12/31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [3]:
#提取train_data的最后96条数据
last_96_rows = train_data.iloc[-96:]

#将last_96_rows放到test_data的最前面
test_data = pd.concat([last_96_rows, test_data], ignore_index=True)


print("\nUpdated test_data:")
test_data

Updated test_data:

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,15121.0,2012/9/27,4.0,1.0,9.0,5.0,0.0,4.0,1.0,1.0,0.58,0.5455,0.83,0.0000,2.0,64.0,66.0
1,15122.0,2012/9/27,4.0,1.0,9.0,6.0,0.0,4.0,1.0,1.0,0.56,0.5303,0.88,0.0896,5.0,164.0,169.0
2,15123.0,2012/9/27,4.0,1.0,9.0,7.0,0.0,4.0,1.0,1.0,0.60,0.5758,0.78,0.0000,12.0,546.0,558.0
3,15124.0,2012/9/27,4.0,1.0,9.0,8.0,0.0,4.0,1.0,1.0,0.62,0.6061,0.71,0.0896,20.0,774.0,794.0
4,15125.0,2012/9/27,4.0,1.0,9.0,9.0,0.0,4.0,1.0,1.0,0.66,0.6212,0.65,0.0000,30.0,305.0,335.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2251,2156.0,2012/12/31,1.0,1.0,12.0,19.0,0.0,1.0,1.0,2.0,0.26,0.2576,0.60,0.1642,11.0,108.0,119.0
2252,2157.0,2012/12/31,1.0,1.0,12.0,20.0,0.0,1.0,1.0,2.0,0.26,0.2576,0.60,0.1642,8.0,81.0,89.0
2253,2158.0,2012/12/31,1.0,1.0,12.0,21.0,0.0,1.0,1.0,1.0,0.26,0.2576,0.60,0.1642,7.0,83.0,90.0
2254,2159.0,2012/12/31,1.0,1.0,12.0,22.0,0.0,1.0,1.0,1.0,0.26,0.2727,0.56,0.1343,13.0,48.0,61.0
2255,2160.0,2012/12/31,1.0,1.0,12.0,23.0,0.0,1.0,1.0,1.0,0.26,0.2727,0.65,0.1343,12.0,37.0,49.0

In [4]:
import numpy as np
import pandas as pd

def cyclical_encode_auto_range(df, col_name):

    #计算最小值和最大值
    min_val = train_data[col_name].min()-1
    max_val = train_data[col_name].max()
    
    #所有值都相同则返回
    if min_val == max_val:
        df[col_name + '_sin'] = 0.0
        df[col_name + '_cos'] = 1.0
        return df
    
    #将[min_val, max_val] 区间视为一个周期进行归一化
    #将特征映射到[0, 1]区间
    #然后乘以2*pi得到最终的相位
    df[col_name + '_sin'] = (np.sin(
        2 * np.pi * (df[col_name] - min_val) / (max_val - min_val)
    ) + 1) / 2
    df[col_name + '_cos'] = (np.cos(
        2 * np.pi * (df[col_name] - min_val) / (max_val - min_val)
    ) + 1) / 2
    
    return df

train_data = cyclical_encode_auto_range(train_data, 'season')
train_data = cyclical_encode_auto_range(train_data, 'mnth')
train_data = cyclical_encode_auto_range(train_data, 'hr')
train_data = cyclical_encode_auto_range(train_data, 'weekday')
test_data = cyclical_encode_auto_range(test_data, 'season')
test_data = cyclical_encode_auto_range(test_data, 'mnth')
test_data = cyclical_encode_auto_range(test_data, 'hr')
test_data = cyclical_encode_auto_range(test_data, 'weekday')
train_data

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,season_sin,season_cos,mnth_sin,mnth_cos,hr_sin,hr_cos,weekday_sin,weekday_cos
0,1.0,2011/1/1,1.0,0.0,1.0,0.0,0.0,6.0,0.0,1.0,0.24,0.2879,0.81,0.0000,3.0,13.0,16.0,1.0,0.5,0.750000,0.933013,0.629410,0.982963,0.500000,1.00000
1,2.0,2011/1/1,1.0,0.0,1.0,1.0,0.0,6.0,0.0,1.0,0.22,0.2727,0.80,0.0000,8.0,32.0,40.0,1.0,0.5,0.750000,0.933013,0.750000,0.933013,0.500000,1.00000
2,3.0,2011/1/1,1.0,0.0,1.0,2.0,0.0,6.0,0.0,1.0,0.22,0.2727,0.80,0.0000,5.0,27.0,32.0,1.0,0.5,0.750000,0.933013,0.853553,0.853553,0.500000,1.00000
3,4.0,2011/1/1,1.0,0.0,1.0,3.0,0.0,6.0,0.0,1.0,0.24,0.2879,0.75,0.0000,3.0,10.0,13.0,1.0,0.5,0.750000,0.933013,0.933013,0.750000,0.500000,1.00000
4,5.0,2011/1/1,1.0,0.0,1.0,4.0,0.0,6.0,0.0,1.0,0.24,0.2879,0.75,0.0000,0.0,1.0,1.0,1.0,0.5,0.750000,0.933013,0.982963,0.629410,0.500000,1.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15211,15212.0,2012/10/1,4.0,1.0,10.0,0.0,0.0,1.0,1.0,1.0,0.46,0.4545,0.72,0.1045,6.0,39.0,45.0,0.5,1.0,0.066987,0.750000,0.629410,0.982963,0.987464,0.38874
15212,15213.0,2012/10/1,4.0,1.0,10.0,1.0,0.0,1.0,1.0,1.0,0.44,0.4394,0.77,0.0896,5.0,13.0,18.0,0.5,1.0,0.066987,0.750000,0.750000,0.933013,0.987464,0.38874
15213,15214.0,2012/10/1,4.0,1.0,10.0,2.0,0.0,1.0,1.0,1.0,0.46,0.4545,0.72,0.0000,6.0,6.0,12.0,0.5,1.0,0.066987,0.750000,0.853553,0.853553,0.987464,0.38874
15214,15215.0,2012/10/1,4.0,1.0,10.0,3.0,0.0,1.0,1.0,1.0,0.44,0.4394,0.77,0.0000,1.0,6.0,7.0,0.5,1.0,0.066987,0.750000,0.933013,0.750000,0.987464,0.38874
15215,15216.0,2012/10/1,4.0,1.0,10.0,4.0,0.0,1.0,1.0,1.0,0.42,0.4242,0.82,0.1045,0.0,10.0,10.0,0.5,1.0,0.066987,0.750000,0.982963,0.629410,0.987464,0.38874

In [6]:
import pandas as pd

def normalize_column(df, col_name):
    
    #计算最小值和最大值
    min_val = df[col_name].min()
    max_val = df[col_name].max()

    #防止最小值和最大值相等
    if min_val == max_val:
        df[col_name] = 0.0
    else:
        #进行归一化
        df[col_name] = (df[col_name] - min_val) / (max_val - min_val)
    
    return df


train_data = normalize_column(train_data, 'weathersit')
train_data = normalize_column(train_data, 'casual')
train_data = normalize_column(train_data, 'registered')
train_data = normalize_column(train_data, 'cnt')
test_data = normalize_column(test_data, 'weathersit')
test_data = normalize_column(test_data, 'casual')
test_data = normalize_column(test_data, 'registered')
test_data = normalize_column(test_data, 'cnt')
train_data

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,season_sin,season_cos,mnth_sin,mnth_cos,hr_sin,hr_cos,weekday_sin,weekday_cos
0,1.0,2011/1/1,1.0,0.0,1.0,0.0,0.0,6.0,0.0,0.0,0.24,0.2879,0.81,0.0000,0.008174,0.014673,0.015369,1.0,0.5,0.750000,0.933013,0.629410,0.982963,0.500000,1.00000
1,2.0,2011/1/1,1.0,0.0,1.0,1.0,0.0,6.0,0.0,0.0,0.22,0.2727,0.80,0.0000,0.021798,0.036117,0.039959,1.0,0.5,0.750000,0.933013,0.750000,0.933013,0.500000,1.00000
2,3.0,2011/1/1,1.0,0.0,1.0,2.0,0.0,6.0,0.0,0.0,0.22,0.2727,0.80,0.0000,0.013624,0.030474,0.031762,1.0,0.5,0.750000,0.933013,0.853553,0.853553,0.500000,1.00000
3,4.0,2011/1/1,1.0,0.0,1.0,3.0,0.0,6.0,0.0,0.0,0.24,0.2879,0.75,0.0000,0.008174,0.011287,0.012295,1.0,0.5,0.750000,0.933013,0.933013,0.750000,0.500000,1.00000
4,5.0,2011/1/1,1.0,0.0,1.0,4.0,0.0,6.0,0.0,0.0,0.24,0.2879,0.75,0.0000,0.000000,0.001129,0.000000,1.0,0.5,0.750000,0.933013,0.982963,0.629410,0.500000,1.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15211,15212.0,2012/10/1,4.0,1.0,10.0,0.0,0.0,1.0,1.0,0.0,0.46,0.4545,0.72,0.1045,0.016349,0.044018,0.045082,0.5,1.0,0.066987,0.750000,0.629410,0.982963,0.987464,0.38874
15212,15213.0,2012/10/1,4.0,1.0,10.0,1.0,0.0,1.0,1.0,0.0,0.44,0.4394,0.77,0.0896,0.013624,0.014673,0.017418,0.5,1.0,0.066987,0.750000,0.750000,0.933013,0.987464,0.38874
15213,15214.0,2012/10/1,4.0,1.0,10.0,2.0,0.0,1.0,1.0,0.0,0.46,0.4545,0.72,0.0000,0.016349,0.006772,0.011270,0.5,1.0,0.066987,0.750000,0.853553,0.853553,0.987464,0.38874
15214,15215.0,2012/10/1,4.0,1.0,10.0,3.0,0.0,1.0,1.0,0.0,0.44,0.4394,0.77,0.0000,0.002725,0.006772,0.006148,0.5,1.0,0.066987,0.750000,0.933013,0.750000,0.987464,0.38874
15215,15216.0,2012/10/1,4.0,1.0,10.0,4.0,0.0,1.0,1.0,0.0,0.42,0.4242,0.82,0.1045,0.000000,0.011287,0.009221,0.5,1.0,0.066987,0.750000,0.982963,0.629410,0.987464,0.38874

In [7]:
train_data['dteday'] = pd.to_datetime(train_data['dteday'])
#检查dteday列是否递增
is_increasing = train_data['dteday'].is_monotonic_increasing

#输出结果
if is_increasing:
    print("dteday 列是依次递增的。")
else:
    print("dteday 列不是依次递增的。")

dteday 列是依次递增的。

In [8]:
train_data = train_data.drop(columns=['instant', 'dteday', 'season', 'mnth', 'hr', 'weekday', 'casual', 'registered'])
test_data = test_data.drop(columns=['instant', 'dteday', 'season', 'mnth', 'hr', 'weekday', 'casual', 'registered'])

num_columns = train_data.shape[1]

#输出列数
print(f"train_data 的列数是：{num_columns}")

#查看每列的最小值
print("train_data每列的最小值：")
print(train_data.min())

#查看每列的最大值
print("\ntrain_data每列的最大值：")
print(train_data.max())

#查看每列的最小值
print("test_data每列的最小值：")
print(test_data.min())

#查看每列的最大值
print("\ntest_data每列的最大值：")
print(test_data.max())

train_data 的列数是：17
train_data每列的最小值：
yr             0.000000
holiday        0.000000
workingday     0.000000
weathersit     0.000000
temp           0.020000
atemp          0.000000
hum            0.000000
windspeed      0.000000
cnt            0.000000
season_sin     0.000000
season_cos     0.000000
mnth_sin       0.000000
mnth_cos       0.000000
hr_sin         0.000000
hr_cos         0.000000
weekday_sin    0.012536
weekday_cos    0.049516
dtype: float64

train_data每列的最大值：
yr             1.000000
holiday        1.000000
workingday     1.000000
weathersit     1.000000
temp           1.000000
atemp          1.000000
hum            1.000000
windspeed      0.850700
cnt            1.000000
season_sin     1.000000
season_cos     1.000000
mnth_sin       1.000000
mnth_cos       1.000000
hr_sin         1.000000
hr_cos         1.000000
weekday_sin    0.987464
weekday_cos    1.000000
dtype: float64
test_data每列的最小值：
yr             1.000000
holiday        0.000000
workingday     0.000000
weathersit     0.000000
temp           0.140000
atemp          0.151500
hum            0.160000
windspeed      0.000000
cnt            0.000000
season_sin     0.500000
season_cos     0.500000
mnth_sin       0.000000
mnth_cos       0.500000
hr_sin         0.000000
hr_cos         0.000000
weekday_sin    0.012536
weekday_cos    0.049516
dtype: float64

test_data每列的最大值：
yr             1.000000
holiday        1.000000
workingday     1.000000
weathersit     1.000000
temp           0.760000
atemp          0.681800
hum            1.000000
windspeed      0.656700
cnt            1.000000
season_sin     1.000000
season_cos     1.000000
mnth_sin       0.500000
mnth_cos       1.000000
hr_sin         1.000000
hr_cos         1.000000
weekday_sin    0.987464
weekday_cos    1.000000
dtype: float64

In [9]:
train_data = train_data[[c for c in train_data.columns if c != 'cnt'] + ['cnt']]
test_data = test_data[[c for c in test_data.columns if c != 'cnt'] + ['cnt']]

In [10]:
#此时所有数据都归一化完成，现在进行滚动预测

In [11]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader

def create_sequences(data: np.ndarray, n_past: int = 96, n_fu: int = 96):
    
    X, y = [], []
    for i in range(n_past, len(data) - n_fu + 1):
        #提取过去的n_past条完整特征
        past_features = data[i - n_past:i, :]  
        
        #提取未来的n_fu条完整特征
        future_features = data[i:i + n_fu, :].copy()  
        future_features[:, 16] = 0  #将未来的目标值置为0

        #合并过去和未来的特征
        combined_features = np.vstack((past_features, future_features))  
        X.append(combined_features)
        
        #提取未来的目标值
        target_values = data[i:i + n_fu, 16]  
        y.append(target_values)

    return np.array(X), np.array(y)

In [12]:
class TimeSeriesDataset(Dataset):
    def __init__(self, data: np.ndarray, seq_length: int = 96):
        
        super().__init__()
        self.X, self.y = create_sequences(data, seq_length)
        
    def __len__(self):
        return len(self.X)
    
    def __getitem__(self, idx):
        #返回第idx个样本 
        return self.X[idx], self.y[idx]

In [13]:
class LSTMModel(nn.Module):
    def __init__(self,
                 input_size=17,
                 hidden_size=64,
                 num_layers=2,
                 dropout=0.2,
                n_fu=96):
        super(LSTMModel, self).__init__()
        
        self.hidden_size = hidden_size
        self.num_layers = num_layers
        self.n_fu = n_fu
        
        
        self.lstm = nn.LSTM(input_size=input_size,
                            hidden_size=hidden_size,
                            num_layers=num_layers,
                            batch_first=True,
                            dropout=dropout)
        
        #最后的线性层将hidden_state映射到1维输出
        self.fc = nn.Linear(hidden_size, 1)
        self.sigmoid = nn.Sigmoid()
        
    def forward(self, x):
        
        #h_0,c_0默认是0
        lstm_out, (h_n, c_n) = self.lstm(x)  
        #取最后n_fu步的输出
        lstm_out_last_nfu = lstm_out[:, -self.n_fu:, :]  

        #映射为n_fu个值
        out = self.fc(lstm_out_last_nfu)  
        return out

In [14]:
def train_one_epoch(model, dataloader, criterion, optimizer, device):
    model.train()
    running_loss = 0.0
    running_mse = 0.0
    running_mae = 0.0
    
    for batch_x, batch_y in dataloader:
        batch_x = batch_x.float().to(device)  
        batch_y = batch_y.float().to(device)  
        
        optimizer.zero_grad()
        
        outputs = model(batch_x).squeeze(-1)  
        
        mse_loss = criterion(outputs, batch_y)
        mae_loss = torch.mean(torch.abs(outputs - batch_y))
        
        #反向传播
        mse_loss.backward()
        optimizer.step()
        
        running_loss += mse_loss.item() * batch_x.size(0)
        running_mse += mse_loss.item() * batch_x.size(0)
        running_mae += mae_loss.item() * batch_x.size(0)
    
    epoch_loss = running_loss / len(dataloader.dataset)
    epoch_mse = running_mse / len(dataloader.dataset)
    epoch_mae = running_mae / len(dataloader.dataset)
    return epoch_loss, epoch_mse, epoch_mae

In [15]:
def validate_one_epoch(model, dataloader, criterion, device):
    model.eval()
    running_mse = 0.0
    running_mae = 0.0
    
    with torch.no_grad():
        for batch_x, batch_y in dataloader:
            batch_x = batch_x.float().to(device)
            batch_y = batch_y.float().to(device)

            outputs = model(batch_x).squeeze(-1)
            
            mse_loss = criterion(outputs, batch_y)
            mae_loss = torch.mean(torch.abs(outputs - batch_y))
            
            running_mse += mse_loss.item() * batch_x.size(0)
            running_mae += mae_loss.item() * batch_x.size(0)
    
    epoch_mse = running_mse / len(dataloader.dataset)
    epoch_mae = running_mae / len(dataloader.dataset)
    return epoch_mse, epoch_mae

In [33]:
#设备
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

#超参数
SEQ_LENGTH = 96
INPUT_SIZE = 17
HIDDEN_SIZE = 128
NUM_LAYERS = 2
DROPOUT = 0.2
LEARNING_RATE = 1e-3
BATCH_SIZE = 32
EPOCHS = 100

In [17]:
#将DataFrame转为数组
train_array = train_data.values  
test_array = test_data.values   

#构建Dataset
train_dataset = TimeSeriesDataset(train_array, seq_length=SEQ_LENGTH)
test_dataset = TimeSeriesDataset(test_array, seq_length=SEQ_LENGTH)

train_loader = DataLoader(train_dataset, batch_size=BATCH_SIZE, shuffle=True)
test_loader = DataLoader(test_dataset, batch_size=BATCH_SIZE, shuffle=False)

In [41]:
model = LSTMModel(input_size=INPUT_SIZE,
                  hidden_size=HIDDEN_SIZE,
                  num_layers=NUM_LAYERS,
                  dropout=DROPOUT).to(device)

#损失函数MSE和优化器Adam
criterion = nn.MSELoss()
optimizer = optim.Adam(model.parameters(), lr=LEARNING_RATE)

best_val_mse = float('inf')

for epoch in range(EPOCHS):
    train_loss, train_mse, train_mae = train_one_epoch(model, train_loader, criterion, optimizer, device)
    val_mse, val_mae = validate_one_epoch(model, test_loader, criterion, device)
    
    #保存在验证集上表现最好的模型
    if val_mse < best_val_mse:
        best_val_mse = val_mse
        torch.save(model.state_dict(), "best_model5.pth")
    
    print(f"Epoch [{epoch+1}/{EPOCHS}] "
          f"Train Loss: {train_loss:.6f} | Train MSE: {train_mse:.6f} | Train MAE: {train_mae:.6f} "
          f"Val MSE: {val_mse:.6f} | Val MAE: {val_mae:.6f}")

Epoch [1/30] Train Loss: 0.007841 | Train MSE: 0.007841 | Train MAE: 0.056533 Val MSE: 0.006593 | Val MAE: 0.054587
Epoch [2/30] Train Loss: 0.001952 | Train MSE: 0.001952 | Train MAE: 0.029089 Val MSE: 0.006293 | Val MAE: 0.050343
Epoch [3/30] Train Loss: 0.001529 | Train MSE: 0.001529 | Train MAE: 0.025741 Val MSE: 0.006188 | Val MAE: 0.051507
Epoch [4/30] Train Loss: 0.001237 | Train MSE: 0.001237 | Train MAE: 0.023517 Val MSE: 0.005517 | Val MAE: 0.047722
Epoch [5/30] Train Loss: 0.000990 | Train MSE: 0.000990 | Train MAE: 0.021295 Val MSE: 0.005487 | Val MAE: 0.048715
Epoch [6/30] Train Loss: 0.000809 | Train MSE: 0.000809 | Train MAE: 0.019444 Val MSE: 0.006064 | Val MAE: 0.050780
Epoch [7/30] Train Loss: 0.000679 | Train MSE: 0.000679 | Train MAE: 0.017937 Val MSE: 0.005679 | Val MAE: 0.048662
Epoch [8/30] Train Loss: 0.000740 | Train MSE: 0.000740 | Train MAE: 0.018269 Val MSE: 0.005632 | Val MAE: 0.047928
Epoch [9/30] Train Loss: 0.000517 | Train MSE: 0.000517 | Train MAE: 0.015742 Val MSE: 0.006131 | Val MAE: 0.049773
Epoch [10/30] Train Loss: 0.000447 | Train MSE: 0.000447 | Train MAE: 0.014911 Val MSE: 0.006256 | Val MAE: 0.049737
Epoch [11/30] Train Loss: 0.000379 | Train MSE: 0.000379 | Train MAE: 0.013975 Val MSE: 0.006403 | Val MAE: 0.050108
Epoch [12/30] Train Loss: 0.000337 | Train MSE: 0.000337 | Train MAE: 0.013288 Val MSE: 0.006556 | Val MAE: 0.051474
Epoch [13/30] Train Loss: 0.000307 | Train MSE: 0.000307 | Train MAE: 0.012741 Val MSE: 0.006676 | Val MAE: 0.052094
Epoch [14/30] Train Loss: 0.000266 | Train MSE: 0.000266 | Train MAE: 0.011931 Val MSE: 0.006888 | Val MAE: 0.052714
Epoch [15/30] Train Loss: 0.000244 | Train MSE: 0.000244 | Train MAE: 0.011444 Val MSE: 0.007026 | Val MAE: 0.052857
Epoch [16/30] Train Loss: 0.000213 | Train MSE: 0.000213 | Train MAE: 0.010791 Val MSE: 0.007272 | Val MAE: 0.054275
Epoch [17/30] Train Loss: 0.000197 | Train MSE: 0.000197 | Train MAE: 0.010391 Val MSE: 0.007672 | Val MAE: 0.055393
Epoch [18/30] Train Loss: 0.000180 | Train MSE: 0.000180 | Train MAE: 0.009955 Val MSE: 0.007722 | Val MAE: 0.055714
Epoch [19/30] Train Loss: 0.000169 | Train MSE: 0.000169 | Train MAE: 0.009631 Val MSE: 0.007512 | Val MAE: 0.054848
Epoch [20/30] Train Loss: 0.000147 | Train MSE: 0.000147 | Train MAE: 0.009050 Val MSE: 0.007814 | Val MAE: 0.055697
Epoch [21/30] Train Loss: 0.000138 | Train MSE: 0.000138 | Train MAE: 0.008778 Val MSE: 0.007635 | Val MAE: 0.054937
Epoch [22/30] Train Loss: 0.000125 | Train MSE: 0.000125 | Train MAE: 0.008380 Val MSE: 0.007889 | Val MAE: 0.056527
Epoch [23/30] Train Loss: 0.000116 | Train MSE: 0.000116 | Train MAE: 0.008078 Val MSE: 0.008065 | Val MAE: 0.057614
Epoch [24/30] Train Loss: 0.000109 | Train MSE: 0.000109 | Train MAE: 0.007839 Val MSE: 0.007838 | Val MAE: 0.056393
Epoch [25/30] Train Loss: 0.000102 | Train MSE: 0.000102 | Train MAE: 0.007583 Val MSE: 0.007436 | Val MAE: 0.054643
Epoch [26/30] Train Loss: 0.000093 | Train MSE: 0.000093 | Train MAE: 0.007249 Val MSE: 0.008350 | Val MAE: 0.058479
Epoch [27/30] Train Loss: 0.000089 | Train MSE: 0.000089 | Train MAE: 0.007124 Val MSE: 0.008132 | Val MAE: 0.057305
Epoch [28/30] Train Loss: 0.000088 | Train MSE: 0.000088 | Train MAE: 0.007047 Val MSE: 0.008117 | Val MAE: 0.058131
Epoch [29/30] Train Loss: 0.000082 | Train MSE: 0.000082 | Train MAE: 0.006823 Val MSE: 0.008420 | Val MAE: 0.058472
Epoch [30/30] Train Loss: 0.000072 | Train MSE: 0.000072 | Train MAE: 0.006394 Val MSE: 0.008333 | Val MAE: 0.057794

In [37]:
def validate_real(model, dataloader, criterion, device, min_val, max_val):
    
    model.eval()
    running_mse = 0.0
    running_mae = 0.0
    all_outputs = []  #保存所有批次的预测值
    all_labels = []  #保存所有批次的真实值

    with torch.no_grad():
        for batch_x, batch_y in dataloader:
            #换到设备
            batch_x = batch_x.float().to(device)
            batch_y = batch_y.float().to(device)

            #模型预测
            outputs = model(batch_x).squeeze(-1)

            #反归一化预测值和标签
            outputs_real = outputs * (max_val - min_val) + min_val
            batch_y_real = batch_y * (max_val - min_val) + min_val

            #保存预测值和真实值
            all_outputs.append(outputs_real.cpu().numpy())
            all_labels.append(batch_y_real.cpu().numpy())

            #计算反归一化后的MSE和MAE
            mse_loss = criterion(outputs_real, batch_y_real)
            mae_loss = torch.mean(torch.abs(outputs_real - batch_y_real))

            #累积误差
            running_mse += mse_loss.item() * batch_x.size(0)
            running_mae += mae_loss.item() * batch_x.size(0)

    #将所有批次结果拼接为一个数组
    all_outputs = np.concatenate(all_outputs, axis=0)
    all_labels = np.concatenate(all_labels, axis=0)

    #计算最终的平均误差
    epoch_mse = running_mse / len(dataloader.dataset)
    epoch_mae = running_mae / len(dataloader.dataset)

    return epoch_mse, epoch_mae, all_outputs, all_labels

In [44]:
#加载最优模型
model.load_state_dict(torch.load("best_model.pth"))
model.eval()

test_data = pd.read_csv('data/test_data.csv')

min_val = test_data['cnt'].min()
max_val = test_data['cnt'].max()

mse_test, mae_test, all_outputs1, all_labels1 = validate_real(model, test_loader, criterion, device, min_val, max_val)
print(f"Final Test MSE: {mse_test:.6f}, MAE: {mae_test:.6f}")

Final Test MSE: 4336.489452, MAE: 42.535297

In [45]:
#加载最优模型
model.load_state_dict(torch.load("best_model2.pth"))
model.eval()

test_data = pd.read_csv('data/test_data.csv')

min_val = test_data['cnt'].min()
max_val = test_data['cnt'].max()

mse_test, mae_test, all_outputs2, all_labels2 = validate_real(model, test_loader, criterion, device, min_val, max_val)
print(f"Final Test MSE: {mse_test:.6f}, MAE: {mae_test:.6f}")

Final Test MSE: 4929.048718, MAE: 45.483357

In [46]:
#加载最优模型
model.load_state_dict(torch.load("best_model3.pth"))
model.eval()

test_data = pd.read_csv('data/test_data.csv')

min_val = test_data['cnt'].min()
max_val = test_data['cnt'].max()

mse_test, mae_test, all_outputs3, all_labels3 = validate_real(model, test_loader, criterion, device, min_val, max_val)
print(f"Final Test MSE: {mse_test:.6f}, MAE: {mae_test:.6f}")

Final Test MSE: 5130.612699, MAE: 47.580439

In [47]:
#加载最优模型
model.load_state_dict(torch.load("best_model4.pth"))
model.eval()

test_data = pd.read_csv('data/test_data.csv')

min_val = test_data['cnt'].min()
max_val = test_data['cnt'].max()

mse_test, mae_test, all_outputs4, all_labels4 = validate_real(model, test_loader, criterion, device, min_val, max_val)
print(f"Final Test MSE: {mse_test:.6f}, MAE: {mae_test:.6f}")

Final Test MSE: 5374.667229, MAE: 47.066298

In [48]:
#加载最优模型
model.load_state_dict(torch.load("best_model5.pth"))
model.eval()

test_data = pd.read_csv('data/test_data.csv')

min_val = test_data['cnt'].min()
max_val = test_data['cnt'].max()

mse_test, mae_test, all_outputs5, all_labels5 = validate_real(model, test_loader, criterion, device, min_val, max_val)
print(f"Final Test MSE: {mse_test:.6f}, MAE: {mae_test:.6f}")

Final Test MSE: 5077.887514, MAE: 46.863676

In [49]:
all_labels_mean = (all_labels1 + all_labels2 + all_labels3 + all_labels4 + all_labels55) / 5

(2065, 96)

In [21]:
#举例

In [22]:
all_outputs.shape

(2065, 96)

In [23]:
all_outputs_int = all_outputs.astype(int)

In [24]:
all_outputs_int[0]

array([ 38, 132, 423, 745, 349, 204, 252, 335, 407, 471, 470, 431, 275,
       215, 130,  65,  37,  15,   5,   2,  12,  37,  89, 196, 319,  94,
        17,  24,  78, 119, 101,  88, 109, 212, 179, 109,  70,  55,  64,
        42,  17,   7,   4,   4,  16,  43, 184, 439, 595, 302, 186, 240,
       289, 252, 208, 241, 406, 821, 829, 579, 392, 285, 212, 125,  39,
        16,  11,   1,  10,  25,  58, 203, 565, 336, 191, 207, 271, 271,
       263, 288, 462, 892, 838, 575, 384, 278, 204, 126,  58,  31,  15,
         3,  13,  53, 214, 541])

In [25]:
all_labels_int = all_labels.astype(int)

In [26]:
all_labels_int[0]

array([784, 340, 179, 272, 323, 305, 244, 329, 459, 856, 613, 516, 262,
       218, 207, 105,  31,  11,   2,   5,  10,  43, 179, 260, 134,  86,
        45,  99, 104, 154, 163, 209, 374, 715, 687, 395, 306, 289, 240,
        98,  52,  19,   9,   7,  11,  34, 177, 515, 809, 362, 175, 230,
       358, 279, 251, 319, 478, 917, 810, 593, 497, 209, 241, 220,  76,
        25,  13,  11,  10,  39, 133, 391, 738, 359, 177, 214, 288, 294,
       267, 325, 497, 901, 887, 534, 441, 321, 232, 155, 102,  46,  11,
        16,  11,  41, 137, 428])

In [27]:
min_val

1

In [28]:
max_val

963

In [29]:
test_data['cnt'] = test_data['cnt']* (max_val - min_val) + min_val

In [30]:
test_data

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2012/10/1,4,1,10,8,0,1,1,2,0.46,0.4545,0.77,0.1045,40,744,754209
1,2,2012/10/1,4,1,10,9,0,1,1,2,0.52,0.5000,0.63,0.0000,26,314,327081
2,3,2012/10/1,4,1,10,10,0,1,1,1,0.54,0.5152,0.56,0.0000,44,135,172199
3,4,2012/10/1,4,1,10,11,0,1,1,1,0.58,0.5455,0.46,0.0000,76,196,261665
4,5,2012/10/1,4,1,10,12,0,1,1,2,0.60,0.6212,0.43,0.1642,61,262,310727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2155,2156,2012/12/31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,114479
2156,2157,2012/12/31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,85619
2157,2158,2012/12/31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,86581
2158,2159,2012/12/31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,58683
2159,2160,2012/12/31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,47139